{% extends "base.html.twig" %}

{% block title%}
    Conferences Guesbook - {{conference}}
{% endblock %}

{% block body %}
    <h1>Conference {{ conference }}</h1>
    {% if comments|length > 0 %}
        <p>There are {{ comments|length }} comments</p>
        {% for comment in comments %}
            <h4>{{ comment.author }}</h4>
            <small>
                {{ comment.createdAt|format_datetime('medium', 'short') }}
            </small>
            <p>{{ comment.text }}</p>
        {% endfor %}
        <div>
            {% if previous >= 0 %}
                <a href="{{ path('app_conference', {slug: conference.slug, offset: previous}) }}">Previous</a>
            {% endif %}
            {% if next < comments|length %}
                <a href="{{ path('app_conference', {slug: conference.slug, offset: next}) }}">Next</a>
            {% endif %}
        </div>
    {% else %}
        <p>No comment have been posted yet for this conference.</p>
    {% endif %}
{% endblock %}
